<h1>New Company</h1>

<form action="/companies" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="company_name">Name</label>
    <input type="text" name="company[name]" id="company_name">
  </p>
  <p>
    <label for="company_city">City</label>
    <input type="text" name="company[city]" id="company_city">
  </p>
  <p>
    <label for="company_state">State</label>
    <input type="text" name="company[state]" id="company_state">
  </p>
  <p>
    <label for="company_url">URL</label>
    <input type="text" name="company[url]" id="company_url">
  </p>
  <button>Submit</button>
</form>
